In [1]:
import warnings
warnings.filterwarnings('ignore')

import os
import pandas as pd

import snman
from snman.constants import *
from snman import osmnx_customized as oxc

PERIMETER = '_accessibility_debug'

# Set these paths according to your own setup
data_directory = os.path.join('C:',os.sep,'Users','lballo','polybox','Research','SNMan','SNMan Shared','data_v2')
inputs_path = os.path.join(data_directory, 'inputs')
process_path = os.path.join(data_directory, 'process', PERIMETER)
outputs_path = os.path.join(data_directory, 'outputs', PERIMETER)

#CRS_internal = 29119    # for Boston
#CRS_internal = 32216    # for Chicago
CRS_internal = 2056      # for Zurich
CRS_for_export = 4326
oxc.settings.useful_tags_way = OSM_TAGS

In [2]:
old_network_path = 'C:/Users/lballo/polybox/RESEARCH/SNMan/SNMan Shared/DELIVERY/2024-05-08 complete ebc network for matsim'

before = snman.io.import_geofile_to_gdf(
    os.path.join(old_network_path, 'before_oneway_links.gpkg')
)

before

,osm_id,name,highway,waterway,aerialway,barrier,man_made,railway,z_order,other_tags,geometry
0,7550200,NaN,residential,NaN,NaN,NaN,NaN,NaN,3,"""length""=>""145.089"",""oneway""=>""yes"",""sensors_f...","LINESTRING (2680842.326 1248448.377, 2680767.8..."
1,7550201,NaN,residential,NaN,NaN,NaN,NaN,NaN,3,"""length""=>""265.327"",""oneway""=>""yes"",""sensors_f...","LINESTRING (2680842.326 1248448.377, 2680832.4..."
2,7550202,NaN,residential,NaN,NaN,NaN,NaN,NaN,3,"""cycleway:right""=>""lane"",""length""=>""179.162112...","LINESTRING (2680842.326 1248448.377, 2680996.4..."
3,7550203,NaN,secondary,NaN,NaN,NaN,NaN,NaN,6,"""cycleway:right""=>""lane"",""length""=>""188.758353...","LINESTRING (2681100.025 1248300.320, 2680995.1..."
4,7550204,NaN,secondary,NaN,NaN,NaN,NaN,NaN,6,"""cycleway:right""=>""lane"",""length""=>""142.524533...","LINESTRING (2681100.025 1248300.320, 2681177.1..."
...,...,...,...,...,...,...,...,...,...,...,...
179146,7858414,NaN,primary,NaN,NaN,NaN,NaN,NaN,7,"""length""=>""577.8496357564222"",""oneway""=>""yes"",...","LINESTRING (2681547.559 1248996.114, 2681561.2..."
179147,7858415,NaN,primary,NaN,NaN,NaN,NaN,NaN,7,"""length""=>""577.8496357564222"",""oneway""=>""yes"",...","LINESTRING (2681535.315 1248971.038, 2681516.7..."
179148,7858416,NaN,primary,NaN,NaN,NaN,NaN,NaN,7,"""length""=>""577.8496357564222"",""oneway""=>""yes"",...","LINESTRING (2681535.315 1248971.038, 2681547.5..."
179149,7858417,NaN,secondary,NaN,NaN,NaN,NaN,NaN,6,"""cycleway:right""=>""lane"",""length""=>""107.388574...","LINESTRING (2677332.791 1250090.020, 2677305.1..."
179150,7858418,NaN,secondary,NaN,NaN,NaN,NaN,NaN,6,"""cycleway:right""=>""lane"",""length""=>""107.388574...","LINESTRING (2677332.791 1250090.020, 2677407.9..."

In [6]:
min(before['osm_id'])

'7550200'

In [3]:
tt = pd.read_csv(
    os.path.join(outputs_path, '100pct_do_not_trust_the_numbers.csv')
)

tt

,LinkId,Freespeed,From_x,From_y,To_x,To_y,car_0,car_1,car_2,car_3,...,car_15,car_16,car_17,car_18,car_19,car_20,car_21,car_22,car_23,Unnamed: 30
0,3640,5.811348,47.327088,8.381223,47.326734,8.380054,22,22,22,18,...,18,18,18,22,22,18,22,22,18,NaN
1,3638,3.676141,47.499187,8.543563,47.499622,8.544628,25,25,25,25,...,25,10,28,14,1,1,25,28,28,NaN
2,3630,3.876162,47.490902,8.556413,47.492244,8.556424,43,43,43,43,...,47,43,47,43,47,43,43,43,43,NaN
3,3634,3.910868,47.528348,8.709041,47.527457,8.706912,52,52,48,52,...,48,52,48,52,52,52,52,52,52,NaN
4,3635,3.565796,47.349795,7.986803,47.350459,7.986701,24,20,24,20,...,24,24,24,24,24,24,24,24,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129345,36257,3.875624,47.333018,8.305315,47.333562,8.303478,42,42,42,42,...,46,42,46,42,42,42,42,42,42,NaN
129346,36256,3.791716,47.536786,8.728047,47.536773,8.729726,33,33,33,33,...,37,37,37,33,33,37,37,33,33,NaN
129347,132450,3.604422,47.395599,8.401946,47.396158,8.401275,22,22,22,22,...,22,26,26,26,26,26,26,26,26,NaN
129348,3629,3.912491,47.349966,7.987588,47.351453,7.988677,53,49,49,49,...,53,53,53,53,53,53,49,53,49,NaN
129349,3628,3.649021,47.492244,8.556424,47.492186,8.557590,27,28,24,24,...,24,20,19,19,22,24,23,21,7,NaN

In [7]:
min(tt['LinkId'])

1

In [24]:
import shapely as shp
import geopandas as gpd

tt['geometry'] = tt.apply(
    lambda row: shp.LineString([[row['From_y'], row['From_x']], [row['To_y'], row['To_x']]]),
    axis=1
)

tt_network = gpd.GeoDataFrame(tt, crs=4326).to_crs(2056)

tt_network

,LinkId,Freespeed,From_x,From_y,To_x,To_y,car_0,car_1,car_2,car_3,...,car_16,car_17,car_18,car_19,car_20,car_21,car_22,car_23,Unnamed: 30,geometry
0,3640,5.811348,47.327088,8.381223,47.326734,8.380054,22,22,22,18,...,18,18,22,22,18,22,22,18,NaN,"LINESTRING (2671251.846 1242229.890, 2671163.9..."
1,3638,3.676141,47.499187,8.543563,47.499622,8.544628,25,25,25,25,...,10,28,14,1,1,25,28,28,NaN,"LINESTRING (2683253.129 1261522.657, 2683332.6..."
2,3630,3.876162,47.490902,8.556413,47.492244,8.556424,43,43,43,43,...,43,47,43,47,43,43,43,43,NaN,"LINESTRING (2684234.370 1260615.272, 2684233.0..."
3,3634,3.910868,47.528348,8.709041,47.527457,8.706912,52,52,48,52,...,52,48,52,52,52,52,52,52,NaN,"LINESTRING (2695667.810 1264953.225, 2695509.0..."
4,3635,3.565796,47.349795,7.986803,47.350459,7.986701,24,20,24,20,...,24,24,24,24,24,24,24,20,NaN,"LINESTRING (2641420.280 1244471.383, 2641412.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129345,36257,3.875624,47.333018,8.305315,47.333562,8.303478,42,42,42,42,...,42,46,42,42,42,42,42,42,NaN,"LINESTRING (2665506.873 1242823.075, 2665367.3..."
129346,36256,3.791716,47.536786,8.728047,47.536773,8.729726,33,33,33,33,...,37,37,33,33,37,37,33,33,NaN,"LINESTRING (2697083.479 1265914.738, 2697209.8..."
129347,132450,3.604422,47.395599,8.401946,47.396158,8.401275,22,22,22,22,...,26,26,26,26,26,26,26,26,NaN,"LINESTRING (2672724.779 1249865.562, 2672673.3..."
129348,3629,3.912491,47.349966,7.987588,47.351453,7.988677,53,49,49,49,...,53,53,53,53,53,49,53,49,NaN,"LINESTRING (2641479.498 1244490.809, 2641560.6..."
129349,3628,3.649021,47.492244,8.556424,47.492186,8.557590,27,28,24,24,...,20,19,19,22,24,23,21,7,NaN,"LINESTRING (2684233.088 1260764.514, 2684321.0..."

In [25]:
snman.io.export_gdf(
    tt_network,
    os.path.join(old_network_path, 'tt_network.gpkg')
)